$primary-gradient: linear-gradient(#2db8f5, #5c49e6 );

.register-wrapper {
  margin: auto;
  width: 30%;
  max-width: 30%;
  margin-top: 5%;
background: $primary-gradient;
  border-radius: 10px;
  box-shadow: 10px 10px 2px 2px #ddd;

  form {
    margin: auto;
    padding: 10px 10px 10px 10px;
    width: 80%;
    max-width: 80%;
    div {
      margin-top: 10px;
    }
    input {
      width: 90%;
      max-width: 90%;
      padding: 15px;
      border-radius: 10px;
      border: 0px;
      margin-top: 10px;
      font-size: 16px;
    }
    .login-here {
      margin-top: 40px;
      width: 100;
      text-align: center;
    }
    .btn-container {
      width: 100%;
      .btn {
        background:#2db8f5;
        font-size: 30px;
        width: 90%;
        max-width: 90%;
        margin-left: 15px;
        height: 60px;
        border-radius: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
.btn:hover{
  cursor:pointer;
}