$logo-font: 'Staatliches', sans-serif;
$body-font: 'Roboto', sans-serif;
$primary-color: #304ffe;
$secondary-color: #424242;
$tertiary-color: #eee;
$hover-color: lighten($primary-color, 5%);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  body {
    #root {
      .app-container {
        .sidebar-app-container {
          .app-body {
            .edit-profile-container {
              display: flex;
              justify-content: center;
              align-items: center;
              background: $tertiary-color;
              width: 100%;
              height: 89vh;

              .edit-profile {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 25px;
                border-radius: 3px;
                box-shadow: 5px 5px 28px rgba(0,0,0,0.2);
                background: #fff;
                height: 60%;
                width: 40%;

                  input {
                    width: 70%;
                    padding: 15px;
                    border-radius: 2px;
                    border: 1px solid $primary-color;
                    margin-bottom: 15px;
                    font-size: 16px;
                  }
                }

                .button-container {
                  padding: 10px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: 70%;

                  div {
                    font-size: 1.2em;
                    font-family: $body-font;
                  }

                  .btn {
                    width: 100px;
                    height: 40px;
                    float: right;
                    border: none;
                    border-radius: 2px;
                    background: $primary-color;
                    color: #fff;
                    font-size: 16px;
                    font-family: $body-font;
                    font-weight: 500;
                    transition: background-color 0.24s ease-in-out;
                  }

                  .btn:hover {
                    cursor: pointer;
                    background: $hover-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

