$logo-font: 'Staatliches', sans-serif;
$body-font: 'Roboto', sans-serif;
$primary-color: #304ffe;
$secondary-color: #424242;
$tertiary-color: #eee;
$hover-color: lighten($primary-color, 10%);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  body {
    #root {
      .app-container {
        .sidebar-app-container {
          .app-body {
            .profile-container {
              background: #eee;
              border: 1px solid black;
              border-radius: 10px;
              box-shadow: 5px 5px 28px rgba(0, 0, 0, 0.2);

              margin: auto;
              padding: 50px;
              margin-top: 10%;
              margin-bottom: 5%;
              .title-container {
                text-align: center;
              }
              .user-info-container {
                margin-left: 30px;
                display: flex;
                text-align: left;
                padding: 10px;
                border: 1px solid black;
                .left {
                  padding: 10px;
                  width: 50%;
                }
                .right {
                  padding: 10px;
                  width: 50%;
                  .btn {
                    padding: 3px;
                    width: 90px;
                    max-width: 90px;
                    height: 25px;
                    border: none;
                    border-radius: 2px;
                    background: $primary-color;
                    color: white;
                    font-size: 16px;
                    font-family: $body-font;
                    font-weight: 500;
                    transition: background-color 0.24s ease-in-out;
                  }
                  .btn:hover {
                    cursor: pointer;
                    background: $hover-color;
                  }
                }
              }
              .status-container {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                overflow-x: scroll;
              }
              .item-list-container {
                margin-left: 30px;
                overflow-y: scroll;
                height: 500px;
              }
              .columns-container {
                margin-left: 30px;
                text-align: center;
                display: flex;

                .column {
                  border: 1px solid black;
                  height: 30px;
                  .status-column {
                    width: 60px;
                    max-width: 60px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  .title-column {
                    width: 120px;
                    max-width: 120px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  .category-column {
                    width: 150px;
                    max-width: 150px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  .date-column {
                    width: 160px;
                    max-width: 160px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  .update-column {
                    width: 160px;
                    max-width: 160px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  .views-column {
                    width: 60px;
                    max-width: 60px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  .id-column {
                    width: 60px;
                    max-width: 60px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  .manage-column {
                    width: 119px;
                    max-width: 190px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
