$primary-color: #2db8f5;
$secondary-color: #5c49e6;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  body {
    #root {
      .app-container {
        .sidebar-app-container {
          .app-body {
            .profile-container {
              background: #eee;
              border: 1px solid black;
              border-radius: 10px;
              box-shadow: 5px 5px 28px rgba(0, 0, 0, 0.2);
              width: 100%;
              margin: auto;
              padding: 50px;
              margin-top: 5%;
              margin-bottom: 5%;
              .title-container {
                text-align: center;
              }
              .user-info-container {
                display: flex;
                text-align: left;
                padding: 10px;
                border: 1px solid black;
                .left {
                  padding: 10px;
                  width: 50%;
                }
                .right {
                  padding: 10px;
                  width: 50%;
                  .btn {
                    width: 80px;
                    max-width: 80px;
                    height: 25px;
                    border: 0px;
                    background: $primary-color;
                    color: white;
                    font-size: 16px;
                    border-radius: 2px;
                  }
                  .btn:active {
                    background: $secondary-color;
                  }
                }
              }
              .status-container {
                border: 1px solid black;
                margin-top: 10px;
              }
              .item-list-container {
                overflow-y: scroll;
                height: 500px;
              }
              .columns-container {
                display: flex;

                .column {
                  border: 1px solid black;
                  height: 30px;
                  .status-column {
                    width: 60px;
                    max-width: 60px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  .title-column {
                    width: 120px;
                    max-width: 120px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  .category-column {
                    width: 150px;
                    max-width: 150px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  .date-column {
                    width: 160px;
                    max-width: 160px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  .update-column {
                    width: 160px;
                    max-width: 160px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  .views-column {
                    width: 60px;
                    max-width: 60px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  .id-column {
                    width: 60px;
                    max-width: 60px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  .manage-column {
                    width: 190px;
                    max-width: 190px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
