$logo-font: 'Staatliches', sans-serif;
$body-font: 'Roboto', sans-serif;
$primary-color: #304ffe;
$secondary-color: #424242;
$tertiary-color: #eee;
$hover-color: lighten($primary-color, 5%);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  body {
    #root {
      .app-container {
        .sidebar-app-container {
          .app-body {
            .change-password-container {
              width: 450px;
              max-width: 450px;
              background: #eee;
              border-radius: 3px;
              box-shadow: 5px 5px 28px rgba(0, 0, 0, 0.2);
              padding: 10px;
              margin: auto;
              margin-top: 20%;
              margin-bottom: 16.6%;
              .title {
                text-align: center;
              }
              .form-container {
                margin: auto;
                width: 90%;

                padding: 10px;
                .password-container {
                  margin-top: 10px;
                }
                .pw-toggle {
                  margin-left: 20px;
                }
                input {
                  width: 70%;
                  height: 25px;
                }
              }
              .button-container {
                margin-top: 20px;
                .btn {
                  width: 170px;
                  max-width: 170px;
                  padding: 8px;
                  float: right;
                  border: none;
                  border-radius: 2px;
                  background: $primary-color;
                  color: #fff;
                  font-size: 16px;
                  font-family: $body-font;
                  margin-top: 5px;
                  transition: background-color 0.24s ease-in-out;
                }
                .btn:hover {
                  cursor: pointer;
                  background: $hover-color;
                }
              }
            }
          }
        }
      }
    }
  }
}
