$primary-color: #424242;
$secondary-color: #ccc;
$hover-color: lighten($primary-color, 20%);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  body {
    #root {
      .app-container {
        .sidebar-app-container {
          .app-body {
            .change-password-container {
              width: 450px;
              max-width:450px;
              background: #eee;
              border-radius: 3px;
              box-shadow: 5px 5px 28px rgba(0, 0, 0, 0.2);
              padding: 10px;
              margin:auto;
              margin-top:20%;
              margin-bottom:16.6%;
              .title {
                text-align: center;
              }
              .form-container {
                margin: auto;
                width: 90%;

                padding: 10px;
                .password-container {
                  margin-top: 10px;
                }
                .pw-toggle {
                  margin-left: 20px;
                }
                input {
                  width: 70%;
                  height: 25px;
                }
              }
              .button-container {
                height: 30px;
                margin-top: 20px;
                .btn {
                  width: 150px;
                  max-width: 150px;
                  height: 30px;
                  float: right;
                  border: 0px;
                  background: $primary-color;
                  color: white;
                  font-size: 16px;
                  border-radius: 2px;
                }
                .btn:active {
                  background: $secondary-color;
                }
                .btn:hover {
                  background: $hover-color;
                }
              }
            }
          }
        }
      }
    }
  }
}
