$logo-font: 'Staatliches', sans-serif;
$body-font: 'Roboto', sans-serif;
$primary-color: #304FFE;
$secondary-color: #424242;
$tertiary-color: #eee;
$hover-color: lighten($primary-color, 10%);

html {
  body {
    #root {
      .app-container {
        .sidebar-app-container {
          .app-body {
            .detail-container {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background: $tertiary-color;
              width: 100%;
              height: 100%;
              padding: 50px;
              margin-top: 4em;
              .message-container{
                width:80%;
                margin-bottom:15px;
                .message{
                  margin-bottom: 10px;
                  padding: 10px;
                  border-radius: 3px;
                  border: 1px solid $primary-color;
                  color: $primary-color;
                  font-family: $body-font;
                  font-weight: 500;
                  text-transform: uppercase;

                }
              }
              .header-container {
                display: flex;
                align-items: center;
                width: 80%;
                justify-content: space-between;
                margin-bottom: 15px;

                .header-left {
                  display: flex;
                  width: 80%;
                  justify-content: flex-start;
                  align-items: center;
                  font-family: $body-font;

                  h1, h2 {
                    margin-right: 15px;
                    color: $secondary-color;
                  }

                  h2 {
                    font-weight: 500;
                  }

                  h4 {
                    font-size: 0.9em;
                    color: darken($tertiary-color, 30%);
                    font-weight: 300;
                  }
                }

                .btn {
                  width: 80px;
                  max-width: 80px;
                  height: 30px;
                  float: right;
                  border: 0px;
                  background: $primary-color;
                  color: white;
                  font-size: 16px;
                  border-radius: 3px;
                  transition: background-color 0.25s ease-in-out;
                }
                .btn:active {
                  background: $secondary-color;
                }
                .btn:hover{
                  background:$hover-color;
                }
              }

              .content-wrapper {
                display: flex;
                width: 80%;

                .detail-left {
                  display: flex;
                  flex-direction: column;

                  img {
                    width: 600px;
                    max-height: 500px;
                    border-radius: 3px;
                    margin-bottom: 10px;
                    border: 1px solid $secondary-color;
                  }

                  .description {
                    font-size: 1.2em;
                    font-family: $body-font;
                  }
                }

                .detail-right {
                  width: calc(100% - 600px);
                  display: flex;
                  flex-direction: column;
                  align-items: flex-end;

                  .detail {
                    margin-bottom: 10px;
                    padding: 10px;
                    width: 80%;
                    border-radius: 3px;
                    border: 1px solid $primary-color;
                    color: $secondary-color;
                    font-family: $body-font;

                    p {
                      margin: 0;
                    }

                    p:first-child {
                      font-weight: 800;
                      font-size: 0.7em;
                      text-transform: uppercase;
                      color: $primary-color;
                    }
                  }
                }
              }

              .additional-details {
                display: flex;
                justify-content: flex-start;
                margin-top: 10px;
                width: 80%;

                .id,
                .created {
                  margin-right: 15px;
                  color: $primary-color;
                  font-family: $body-font;
                  font-weight: 300;
                }

                .id {
                  text-transform: uppercase;
                }
              }

            }
          }
        }
      }
    }
  }
}
