html {
  body {
    #root {
      .app {
        .logout-container {
          margin-top: 20%;
         text-align:center;
         font-size:30px;
          .link{
            text-decoration:none;
            
          }
        }
      }
    }
  }
}
