html {
  body {
    #root {
      .app-container {
        .sidebar-app-container {
          .app-body {
              .logout-container {
                margin-top: 20%;
                text-align: center;
                font-size: 30px;
                .link {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }

