$logo-font: 'Staatliches', sans-serif;
$body-font: 'Roboto', sans-serif;
$primary-color: #424242;
$secondary-color: #ccc;
$hover-color: lighten($primary-color, 20%);

html {
  background: $secondary-color;
  body {
    #root {
      display: flex;

      .logged-in-nav,
      .logged-out-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        width: 20%;
        height: 100vh;
        background: #fafafa;
        box-shadow: 0 0px 28px rgba(0, 0, 0, 0.25);
          // 0 0px 10px rgba(90, 75, 230, 0.22);
  
        .link {
          text-decoration: none;
          color: $primary-color;
        }
        .logo {
          font-size: 2.5em;
          font-family: $body-font;
          font-weight: 300;
          letter-spacing: 0em;
          width: 70%;
          padding: 0.1em;
          margin: 0.2em 0em;
          color: $primary-color;

          span {
            color: $primary-color;
            font-weight: 800;
          }
        }

        .user-links {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 0em 0em 1em 0em;
          width: 70%;
          border-bottom: 3px solid $secondary-color;

          a {
            button {
              text-align: left;
              color: $primary-color;
              padding-bottom: 1px;
              margin-bottom: 10px;
              background: none;
              border: 3px solid transparent;
              border-radius: 2px;
              font-size: 1.1em;
              font-family: $body-font;
              font-weight: 500;
              transition: border-bottom .24s ease-in-out;
            }

            button:hover {
              cursor: pointer;
              border-bottom: 3px solid $primary-color;
            }
          }

          a:last-child {
            button {
              text-align: left;
              color: #fff;
              padding: 8px;
              background: $primary-color;
              border: none;
              border-radius: 2px;
              font-size: 1.1em;
              font-family: $body-font;
              font-weight: 500;
              margin-top: 5px;
              transition: background-color 0.24s ease-in-out;
            }

            button:hover {
              cursor: pointer;
              background-color: $hover-color;
            }
          }
        }

        .item-links {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 70%;

          h3 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-family: $body-font;
            color: $primary-color;
            font-size: 2em;
            font-weight: 300;
            text-transform: uppercase;
            margin: 0.5em 0em 0.5em 0em;
          }

          button {
            letter-spacing: 1px;
            width: 100%;
            text-align: left;
            color: $primary-color;
            background: transparent;
            border: none;
            border-bottom: 3px solid transparent;
            font-size: 1em;
            font-family: $body-font;
            font-weight: bold;
            margin-bottom: 0.8em;
            padding-bottom: 10px;
            border-radius: 2px;
            height: 25px;
            transition: color 0.25s ease-in-out, border-bottom 0.25s ease-in-out;
          }

          button:hover {
            border-bottom: 3px solid $primary-color;
            cursor: pointer;
          }
        }
      }
    }
  }
}
