$main-font: 'M PLUS Rounded 1c', sans-serif;
$primary-color: #2db8f5;
$secondary-color: #5c49e6;
html {
  background: whitesmoke;
  body {
    #root {
      display: flex;
      .logged-in-nav,
      .logged-out-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        max-width: 25%;
        height: cover;
        background: #ddd;
        box-shadow: 0 0px 28px rgba(0, 0, 0, 0.25),
          0 0px 10px rgba(90, 75, 230, 0.22);
  
        .link {
          text-decoration: none;
          color: $primary-color;
        }
        .logo {
          font-size: 2.5em;
          font-family: $main-font;
          font-weight: 800;
          letter-spacing: 0em;
          width: 70%;
          padding: 0.1em;
          margin-bottom: 0.2em;
          color: $primary-color;

          span {
            color: $secondary-color;
          }
        }

        .user-links {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 1em 0em 2em 0em;
          width: 70%;
          height: 120px;
          border-bottom: 3px solid #eee;

          a {
            button {
              width: 100%;
              text-align: left;
              color: #777;
              background: none;
              border: none;
              font-size: 1em;
              font-family: $main-font;
              font-weight: bold;
              letter-spacing: 1px;
            }

            button:hover {
              cursor: pointer;
              background: lighten(#777, 20%);
              color: white;
            }
          }
        }

        .item-links {
          display: flex;
          flex-direction: column;
          width: 70%;
          height: 100%;

          h3 {
            width: 100%;
            padding-left: 0.4em;
            font-family: $main-font;
            color: $secondary-color;
            font-weight: 800;
            margin: 1em 0em 0em 0em;
          }

          button {
            letter-spacing: 1px;
            width: 100%;
            text-align: left;
            color: #777;
            background: transparent;
            border: none;
            font-size: 1em;
            font-family: $main-font;
            font-weight: bold;
            margin-bottom: 0.8em;
            padding-left: 0.4em;
            border-radius: 7px;
            height: 40px;
            transition: background-color 0.25s ease-in-out;
          }

          button:hover {
            color: #fff;
            background: linear-gradient(
              to left,
              $primary-color,
              $secondary-color
            );
            cursor: pointer;
          }
        }
      }
    }
  }
}
