$logo-font: 'Staatliches', sans-serif;
$body-font: 'Roboto', sans-serif;
$primary-color: #304ffe;
$secondary-color: #424242;
$tertiary-color: #eee;
$hover-color: lighten($primary-color, 10%);

html{
  overflow-x: hidden;
  body{
    #root{
      .app-container{
        width: 100%;
        .sidebar-app-container{
          background:#ddd;
          display:flex;
          width: 100vw;

          .app-body{
            display: flex;
            flex-direction: column;
            width: 80.1%;
            height: 100%;
            margin-left: calc(100vw - 80.3%);
            background: $tertiary-color;
            min-height: 93.6vh;
          }
        }
      }
    }
  }
}